body {
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	background: rgb(201, 174, 219);
}
.module {
	max-width: 350px;
	padding: 1rem;
	color: rgb(28, 2, 53);
	border-width: 4px;
	border-style: solid;
	border-image: linear-gradient(to bottom, rgb(177, 25, 182), rgba(0, 0, 0, 0))
		1 100%;
}
